# Code editor files
.idea/

# CVS and SVN directories
CVS
.svn

# Useless Windows Files
Thumbs.db
desktop.ini
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.exe
*.msm
*.msp
._*
*~
*.bak

# Images
*.png
*.gif
*.jpg
*.bmp
*.svg




# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
23.235.47.133


# WordPress and Directories files
/blogs.dir
/old*
advanced-cache.php
wp-cache-config.php
sitemap.xml
sitemap.backup.xml
.log
/cache
/uploads
/upgrade
/backup-db
/crayon-syntax-highlighter
/wp-content/plugins/crayon-syntax-highlighter
/images
/img
